<% if current_user %>
  <h1>Generate a Key</h1>
  <button id="key_creation_button">Create</button>
  <div id="key_data"></div>
<% else %>
  <h1>Welcome. Please Log In Above</h1>
<% end %>


<%= form_for :game, url: games_path do |f| %>
  <%= f.submit %>
<% end %>
