<h1>ALL PUBLIC KEYS</h1>
<p>Your public key and everyone else's can and should be published. Here is the list of everyones public key who plays this game:</p>

<ol>
  <% @users.each do |user| %>
    <li>
      <%= "#{user.username}" %> : <%= "#{user.base64_public_key}" %>
    </li>
  <% end %>
</ol>
